@import "../../base/helper";

.login-page {
    height: 100dvh;
    overflow: hidden;

    .form-container {
        transition: transform ease-in-out .6s;
    }

    .form-container.sign-up {
        transform: translateX(100%);
    }

    &.active {
        .form-container.sign-in {
            transform: translateX(-100%);
        }
        .form-container.sign-up {
            transform: translateX(0);
        }
    }

    .title-2 {
        max-width: 16ch;
    }

    button {
        border-radius: 8px;
        margin-top: 1.6rem;
        margin-bottom: 2rem;
    }
}

.forgot-pass, form>input, form>button {
    width: 30%;

    @media (max-width: $avg-desktop) {
        width: 60%;
    }
    @media (max-width: $small-desktop) {
        width: 80%;
    }
}

.form-container {
    position: relative;

    >div {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100dvh;
        flex-direction: column;
    }

    .link {
        color: $accent-color;
        font-weight: 500;
    }
}

.sign-in-form {
    left: 0;
    width: 65%;
    padding: 2rem;
    display: flex;

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (min-width: $small-desktop) {
        width: 60%;
    }

    .forgot-pass > .link {
            font-size: .85rem;
            width: fit-content;
            margin-left: auto;
            color: $link-color;
    }

    p:last-child {
        font-size: .85rem;
        text-align: center;
    }
}

.sign-up-form {
    right: 0;
    width: 65%;
    padding: 2rem;
    display: flex;

    .title-2 {
        margin: 0 auto;
        text-align: center;
    }

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (min-width: $small-desktop) {
        width: 60%;
    }

    p:last-child {
        font-size: .85rem;
        text-align: center;
    }
}

form {
    @include center;
    flex-direction: column;
    height: 100%;
    margin-top: -4rem;

    > h2 {
        margin-bottom: 2rem;
    }

    > input {
        background-color: #eee;
        margin: 8px 0;
    }
}

.toggle-panel {
    width: 35%;
    background-color: $accent-color;
    // right: 0;
    color: white;
    padding: 2rem 4rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media (max-width: $tablet) {
        display: none;
    }

    @media (max-width: $avg-desktop) {
        // left: 60%;
        padding: 1.2rem;

        > h2 {
            font-size: .9rem;
            margin-bottom: 2rem;

        }
    }

    > .toggle-panel-content {
        margin: 1rem 0 2rem 0;

        @media (max-width: $avg-desktop) {
            display: none;
        }
    }

    > img {
        width: 16rem;
        height: 22rem;
        // aspect-ratio: 1;
        object-fit: fill;

        @media (max-width: $small-desktop) {
            width: 8rem;
            height: 12rem;
        }
    }
}

.toggle-right {
    right: 0;
    border-radius: 150px 0 0 150px;
}

.toggle-left {
    left: 0;
    border-radius: 0 150px 150px 0;
}